{% extends "TobionTropaionBundle::layout.html.twig" %}

{% block content %}

<article>
	<h1></h1>
	<p>Saisonübergreifende Mannschaftsresultate mit Auf- und Abstieg</p>
	<p>Spielgemeinschaft aus ... und ...</p>
	<p>Kontakt Verantwortliche</p>
	<p>LikeBox: https://developers.facebook.com/docs/reference/plugins/like-box/
		als Art CMS für den Verein (Photos, Kommentare)</p>
</article>

{% endblock %}