{% extends "TobionTropaionBundle::layout.html.twig" %}

{% block content %}

<article id="rankings-page">

<header id="about-abstract">
	<h1>{% trans %}Ranglisten{% endtrans %}</h1>

	<p>Senioren-Ranglisten des BVBB. TODO Kurzbeschreibung</p>
</header>

<section id="singles-ranking">
	<h2>{% trans %}Einzel-Rangliste{% endtrans %}</h2>

	<ol>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/E-D-A.HTML" target="_blank">Damen  A</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/E-D-B.HTML" target="_blank">Damen  B</a></li>
	</ol>

	<ol>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/E-H-A.HTML" target="_blank">Herren  A</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/E-H-B.HTML" target="_blank">Herren  B</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/E-H-C.HTML" target="_blank">Herren  C</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/E-H-D.HTML" target="_blank">Herren  D</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/E-H-E.HTML" target="_blank">Herren  E</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/E-H-F.HTML" target="_blank">Herren  F</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/E-H-G.HTML" target="_blank">Herren  G</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/E-H-H.HTML" target="_blank">Herren  H</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/E-H-I.HTML" target="_blank">Herren  I</a></li>
	</ol>
</section>

<section id="doubles-ranking">
	<h2>{% trans %}Doppel-Rangliste{% endtrans %}</h2>

	<ol>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/D-D-A.HTML" target="_blank">Damen  A</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/D-D-B.HTML" target="_blank">Damen  B</a></li>
	</ol>

	<ol>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/D-H-A.HTML" target="_blank">Herren  A</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/D-H-B.HTML" target="_blank">Herren  B</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/D-H-C.HTML" target="_blank">Herren  C</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/D-H-D.HTML" target="_blank">Herren  D</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/D-H-E.HTML" target="_blank">Herren  E</a></li>
	</ol>
</section>

<section id="mixed-ranking">
	<h2>{% trans %}Mixed-Rangliste{% endtrans %}</h2>

	<ol>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/M-D-A.HTML" target="_blank">Damen  A</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/M-D-B.HTML" target="_blank">Damen  B</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/M-D-C.HTML" target="_blank">Damen  C</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/M-D-D.HTML" target="_blank">Damen  D</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/M-D-E.HTML" target="_blank">Damen  E</a></li>
	</ol>

	<ol>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/M-H-A.HTML" target="_blank">Herren  A</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/M-H-B.HTML" target="_blank">Herren  B</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/M-H-C.HTML" target="_blank">Herren  C</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/M-H-D.HTML" target="_blank">Herren  D</a></li>
		<li><a href="http://bvbb.net/fileadmin/user_upload/schuch/rangliste/M-H-E.HTML" target="_blank">Herren  E</a></li>
	</ol>
</section>

</article>

{% endblock %}