{% extends "TobionTropaionBundle::layout.html.twig" %}

{% block title "Ligen"|trans %}

{% block content %}

<article>
	<h1>{% trans %}Ligen{% endtrans %}</h1>
	<p>Hierarchische Struktur der Ligen (direkt mit der Mannschaftstabelle in Kurzform als Klasseneinteilung)</p>
</article>

{% endblock %}