{% extends "TobionTropaionBundle::layout.html.twig" %}

{% block title "Spiele"|trans %}

{% block content %}

<article id="tournament-matches">
	<h1>{% trans %}Spiele{% endtrans %}</h1>
	<p>Liste der Mannschaftsspiele filterbar nur nach zeitlicher Periode (von ... bis ...),
		da andere Gruppierungen (Mannschaft, Verein, Liga) schon existieren.</p>
	<p>Feed</p>
</article>

{% endblock %}