{% extends "TobionTropaionBundle::layout.html.twig" %}

{% block title "Vereine &amp; Mannschaften"|trans|raw %}

{% block content %}

<article>
	<h1>{% trans %}Vereine &amp; Mannschaften{% endtrans %}</h1>
	
	<ul>
		<li>Verein: Anz. Mannschaften, Spieler (Herren, Damen) + davon Ersatzspieler, Ansässiger Ort-Bezirk
			<ol>
				<li>Mannschaft I: Liga
				</li>
			</ol>
		</li>
	</ul>
</article>

{% endblock %}