{% extends "TobionTropaionBundle::layout.html.twig" %}

{% set pageRdfId = path('tournament', tournament.routingParams|merge({ '_format': 'html' }) ) ~ '.html' %}

{% block content %}

<article id="tournament-{{ tournament.id }}">

	<h1>{% trans %}Dashboard{% endtrans %}</h1>
	<p>Letzte Spielergebnisse, Nächste Spiele, Ausstehende Ergebniseingabe, Fehlende Ergebnisbestätigung, Aktuelle Spielverlegungen</p>
	<p>Mitteilungen (Ballzulassung, Abschlussberichte, News)</p>
</article>

{% endblock %}